<div *ngIf="isLoading; else content">
  <calcite-loader label="Loading..."></calcite-loader>
</div>

<ng-template #content>
  <h1>
    Calcite Components Angular Example
    <calcite-icon icon="banana"></calcite-icon>
  </h1>

  <calcite-modal style="height: 250px; width: 250px;" open="isDialogOpen" id="example-dialog">
    <div slot="header">Test Modal</div>
    <div slot="content">
      <p-dropdown 
          ngDefaultControl
          appendTo="body"
          [options]="cities" 
          [(ngModel)]="selectedCity" 
          optionLabel="name"
          placeholder="Select a City" />
    </div>
</calcite-modal>
  <calcite-button id="example-button" (click)="open()">Open dialog</calcite-button>
</ng-template>
